@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 197 71% 51%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 40% 9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 210 40% 45.1%;
    --accent: 282 44% 47%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 40% 89.8%;
    --input: 210 40% 89.8%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 210 39% 16%;
    --foreground: 210 40% 98%;
    --card: 210 40% 20%;
    --card-foreground: 210 40% 98%;
    --popover: 210 40% 16%;
    --popover-foreground: 210 40% 98%;
    --primary: 197 71% 51%;
    --primary-foreground: 210 40% 9.8%;
    --secondary: 210 40% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 40% 25%;
    --muted-foreground: 210 40% 60%;
    --accent: 282 44% 47%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 40% 25%;
    --input: 210 40% 25%;
    --ring: 197 71% 51%;
    --chart-1: 197 71% 51%;
    --chart-2: 282 44% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
